<%- include('../partials/header') %>

<h1 class="page-header">OPENING ACT</h1>
<header>
    <nav>
    <ul class="nav-bar">
        <form method="POST" action="/artists/search">
            <input type="text" name="query" placeholder="City">
        </form>
        <li class="nav-list"><a href="/venues">Venues</a></li>
        <li class="nav-list"><a href="/artists">Artists</a></li>
        <li class="nav-list"><a href="/auth/logout">Log Out</a></li>
    </ul>
    </nav>
</header>

<main>
<div class="edit-flex">
<form action="/venues/<%= venue._id %>?_method=PUT" method="POST">
    <input type="text" name="username" value="<%= venue.name %>" placeholder="Venue Name"><br><br>
    <input type="text" name="url" value="<%= venue.url %>" placeholder="URL"><br><br>
    <input type="text" name="gigInfo" value="<%= venue.gigInfo %>" placeholder="Gig Info"><br><br>
    <input type="text" name="address" value="<%= venue.address %>" placeholder="Address"><br><br>
    <input type="text" name="pay" value="<%= venue.pay %>" placeholder="Pay Amount"><br><br><br>
    <input type="text" name="city" value="<%= venue.pay %>" placeholder="City"><br><br><br>
<div class="center-e-btn">
    <button type="submit">Edit Venue</button>
</div>
</form><br>
</div>

</main>



<%- include('../partials/footer') %>