<%- include('../partials/header') %>

<h1 class="page-header">OPENING ACT</h1><br><br>
<header>
    <nav>
    <ul class="nav-bar">
        <li class="nav-list"><a href="/">Home</a></li>
        <li class="nav-list"><a href="/venues">Venues</a></li>
        <li class="nav-list"><a href="/artists">Artists</a></li>
        <li class="nav-list"><a href="/auth/logout">Log Out</a></li>
    </ul>
    </nav>
</header>

<main>

<ul class="index-details">
    <% venues.forEach(function(eachVenue) { %>
    <li class="bottom"><a href="/venues/<%= eachVenue._id %>"><h2><%= eachVenue.name %></h2><strong><br><img class="index-photo" width="400" height="250" src="<%= eachVenue.url%>"><br>Info:</strong> <%= eachVenue.gigInfo %><strong><br>Address:</strong>  <%= eachVenue.address %><strong><br>Pay:</strong> <%= eachVenue.pay %></a></li>
  <%  }) %>

</ul>


</main>

<%- include('../partials/footer') %>