<%- include('../partials/header') %>


<h1>Search for Venues</h2>

<main>

<ul>
    <% venues.forEach(function(eachVenue) { %>
    <li class="bottom"><a href="/venues/<%= eachVenue._id %>"> <%= eachVenue.name %></a><strong><br>Info:</strong> <%= eachVenue.gigInfo %><strong><br>Address:</strong>  <%= eachVenue.address %><strong><br>Pay:</strong> <%= eachVenue.pay %></li>

  <%  }) %>


</ul>

<a href="/venues/new">NEW VENUE PROFILE</a><br><br>
<a href="/artists">SEARCH FOR ARTISTS</a>

<br>
<br>
<a href="/">Home</a>


</main>

<%- include('../partials/footer') %>