<%- include('../partials/header') %>

<h1 class="page-header">OPENING ACT</h1><br><br>
<header>
    <nav>
    <ul class="nav-bar">
        <form method="POST" action="/artists/search">
            <input type="text" name="query" placeholder="City">
        </form>
        <li class="nav-list"><a href="/venues">Venues</a></li>
        <li class="nav-list"><a href="/artists">Artists</a></li>
        <li class="nav-list"><a href="/auth/logout">Log Out</a></li>
    </ul>
    </nav>
</header>

<main>

    <ul class="index-details">
        <% venues.forEach(function(eachVenue) { %>
            <li class="bottom"><a href="/venues/<%= eachVenue._id %>"><h2><%= eachVenue.name %></h2><strong><br>
        <div class="flip-card">
            <div class="flip-card-inner">
            <div class="flip-card-front">
            <img class="index-photo" width="400" height="270" src="<%= eachVenue.url%>"><br>
        </div>
        <div class="flip-card-back">
            <h1><%= eachVenue.username %></h1> 
            <p><%= eachVenue.gigInfo %></p> 
            <p><%= eachVenue.city %></p>
            <p>Click for more show details!</p>
        </div>
        </div>
        </div>

        <%  }) %>

    </ul>


</main>

<%- include('../partials/footer') %>