<%- include('../partials/header') %>
<h1 class="page-header">OPENING ACT</h1>
<header>
    <nav>
    <ul class="nav-bar">
        <form method="POST" action="/artists/search">
            <input type="text" name="query" placeholder="City">
        </form>
        <li class="nav-list"><a href="/venues">Venues</a></li>
        <li class="nav-list"><a href="/artists">Artists</a></li>
        <li class="nav-list"><a href="/auth/logout">Log Out</a></li>
    </ul>
    </nav>
</header>

<main>
    <div class="venue-flex-show">
    <div class='venue-info-column'>
        <h1><%= venue.username %></h1><br>

        <address>
        <div class="font-after">
            <a class="book-it" href="mailto:<%= venue.email %>">Book it!</a><br><br>
        </div>
        </address><br>

            <h2 class=venue-show-info-font>
                Info:<%= venue.gigInfo %><br>
                Address:<%= venue.address %><br>
                Pay:<%= venue.pay %><br>
            </h2>
    </div>
        <img  class="show-radius" src="<%= venue.url%>" width="400" height="250"><br>
    </div>
        <% if (currentUser.username == venue.username) { %> 
    <div class="venue-show-btn-center">
        <a href="/venues/<%= venue._id %>/edit"><div class="editBtn"><button class="edit-delete-btn">Edit Profile</button></div></a>

            <form action="/venues/<%= venue._id %>?_method=DELETE" method="POST"><br>
            <button class="edit-delete-btn" type="submit">Delete Profile</button>    
        </form><br>
    </div>
            <%}%> 

    </main>







<%- include('../partials/footer') %>

