<%- include('../partials/header') %>
<h1 class="page-header">OPENING ACT</h1>
<header>
    <nav>
    <ul class="nav-bar">
        <li class="nav-list"><a href="/">Home</a></li>
        <li class="nav-list"><a href="/venues">Venues</a></li>
        <li class="nav-list"><a href="/artists">Artists</a></li>
        <li class="nav-list"><a href="/auth/logout">Log Out</a></li>
    </ul>
    </nav>
</header>

<main>
    <div class="show-profile2">
        <h1><%= venue.name %></h1><br>
        <img  class="show-radius" width="400" height="250" src="<%= venue.url%>"><br>
    </div>
    <div class="show-info">
        Info:<%= venue.gigInfo %><br>
        Address:<%= venue.address %><br>
        Pay:<%= venue.pay %><br>
        <% if (currentUser.username == venue.username) { %> 
        <div class="btn-center">
            <form action="/venues/<%= venue._id %>?_method=DELETE" method="POST"><br>
            <button class="edit-delete-btn" type="submit">Delete Profile</button>    
        </form><br>
        
        <a href="/venues/<%= venue._id %>/edit"><div class="editBtn"><button class="edit-delete-btn">Edit Profile</button></div></a>
        <%}%>
        </div>
    </main>







<%- include('../partials/footer') %>