<%- include('../partials/header') %>
<h1 class="page-header">OPENING ACT</h1>
<header>
    <nav>
    <ul class="nav-bar">
        <li class="nav-list"><a href="/">Home</a></li>
        <li class="nav-list"><a href="/venues">Venues</a></li>
        <li class="nav-list"><a href="/artists">Artists</a></li>
        <li class="nav-list"><a href="/auth/logout">Log Out</a></li>
    </ul>
    </nav>
</header>

<main>
    <div class="show-profile2">
        <h1><%= venue.name %></h1><br>
        <img width="400" height="250" src="<%= venue.url%>"><br>
    </div>
    <div class="show-info">
        Info:<%= venue.gigInfo %><br>
        Address:<%= venue.address %><br>
        Pay:<%= venue.pay %><br>
    </div>
    <div class="btn-center">        
        <button class="edit-delete-btn"><a class="editBtn" href="/venues/<%= venue._id %>/edit"></a>Edit Profile</button>
        <form action="/venues/<%= venue._id %>?_method=DELETE" method="POST"><br>
        <button class="edit-delete-btn"  type="submit">Delete Profile</button>
    </form>
    </div>
</main>







<%- include('../partials/footer') %>