<%- include('../partials/header') %>

<main>

<h1>Edit your artist profile</h1>

<form action="/artists/<%= artist._id %>?_method=PUT" method="POST">
    Atrist Name:<input type="text" name="alias" value="<%= artist.alias %>"><br>
    Pic:<input type="text" name="url" value="<%= artist.url %>"><br>
    Link:<input type="text" name="link" value="<%= artist.link %>"><br>
    Bio:<input type="text" name="bio" value="<%= artist.bio %>"><br>
    Booking Info:<input type="text" name="bookingInfo" value="<%= artist.bookingInfo %>"><br>
    Genre:<input type="text" name="genre" value="<%= artist.genre %>"><br>
    City:<input type="text" name="city" value="<%= artist.city %>"><br><br>
    <button type="submit">Edit Artist</button>
</form><br>

<a href="/artists">Home</a>


</main>



<%- include('../partials/footer') %>