<%- include('../partials/header') %>

<header>
    <h1>OPENING ACT</H1> 
    <nav>
        <ul class="nav-bar">
        <li class="nav-list"><a href="/">Home</a></li>
        <li class="nav-list"><a href="/venues">Search Venues</a></li>
        <li class="nav-list"><a href="/artists">Search Artists</a></li>
        <li class="nav-list"><a href="#">Contact</a></li>
        <li class="nav-list"><a href="#">About</a></li>
        <li class="nav-list"><a href="/auth/logout">Log Out</a></li>
        </ul>
    </nav>
</header>

<main>

<ul class="index-details">
    <% artists.forEach(function(eachArtist) { %>
        <li><a href="/artists/<%= eachArtist._id %>"><h2><%= eachArtist.alias %></h2></a><br><img width="400" height="250" src="<%= eachArtist.url%>"><br><strong>Genre:</strong>  <%= eachArtist.genre %><br><strong>City:</strong> <%= eachArtist.city %></li>
  <%  }) %>

</ul>

</main>

<%- include('../partials/footer') %>