<%- include('../partials/header') %>

<h1>artist index page</h1>

<main>

<ul>
    <% artists.forEach(function(eachArtist) { %>
        <li class="bottom"><a href="/artists/<%= eachArtist._id %>"><%= eachArtist.alias %></a><br><strong>Genre:</strong>  <%= eachArtist.genre %><br><strong>City:</strong> <%= eachArtist.city %></li>

  <%  }) %>


</ul>

<a href="/artists/new">New Artists Profile</a>
<br>
<br>
<a href="/">Home</a>


</main>

<%- include('../partials/footer') %>