<%- include('../partials/header') %>


<header>
    <h1>OPENING ACT</H1> 
    <nav>
        <ul class="nav-bar">
        <li class="nav-list"><a href="/">Home</a></li>
        <li class="nav-list"><a href="/venues">Search Venues</a></li>
        <li class="nav-list"><a href="/artists">Search Artists</a></li>
        <li class="nav-list"><a href="#">Contact</a></li>
        <li class="nav-list"><a href="#">About</a></li>
        <li class="nav-list"><a href="/auth/logout">Log Out</a></li>
        </ul>
    </nav>
</header>

<main>


    <h1><%= artist.alias %></h1><br>
    <img width="400" height="250" src="<%= artist.url%>"><br>
    <iframe width="400" height="250" src="<%=artist.link%>"></iframe><br>
    Bio:<%= artist.bio %><br>
    Booking Info:<%= artist.bookingInfo %><br>
    Genre:<%= artist.genre %><br>
    City:<%= artist.city %><br>

    <a class="editBtn" href="/artists/<%= artist._id %>/edit">Edit Artist Profile</a>

    <form action="/artists/<%= artist._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete Artist Profile</button>
</form>

<a href="/">Home</a>

</main>






<%- include('../partials/footer') %>