<%- include('../partials/header') %>

<h1 class="page-header">OPENING ACT</h1> 
<header>
    <nav>
    <ul class="nav-bar">
        <form method="POST" action="/artists/search">
            <input type="text" name="query" placeholder="City">
        </form>
        <li class="nav-list"><a href="/venues">Venues</a></li>
        <li class="nav-list"><a href="/artists">Artists</a></li>
        <li class="nav-list"><a href="/auth/logout">Log Out</a></li>
    </ul>
    </nav>
</header>

<main>
    <div class="show-profile">
    <div class="show-column">
    <div class="show-info-font">
        <br>
        <br>
        <br>
    <div class="show-info-up">
         <h2><%= artist.username %></h2><br>

         <address>
         <div class="font-after">
             <a class="lets-collab" href="mailto:<%= artist.email %>">Let's Collab!</a><br>
         </div>
         </address><br>

            Instagram: <%= artist.instagram %><br>
            Twitter: <%= artist.twitter %><br>
            contact: <%= artist.bookingInfo %><br> 
            genre: <%= artist.genre %><br>
            city: <%= artist.city %>
    </div>

    </div>
    </div>
        <iframe class="show-radius" width="600" height="400" src="<%=artist.link%>"></iframe><br>
    </div> 
        
        <% if (loggedUserId == artist._id) { %> 
    <div class="btn-center">
        <a href="/artists/<%= artist._id %>/edit"><div class="editBtn"><button class="edit-delete-btn">Edit Profile</button></div></a>
        <form action="/artists/<%= artist._id %>?_method=DELETE" method="POST"><br>
        <button class="edit-delete-btn" type="submit">Delete Profile</button>    
    </form><br>
        <%}%>
    </div>
</main>






<%- include('../partials/footer') %>